body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px;
  background-color: #f0f0f0;
  user-select: none;
}
#main {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
}
