body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px;
  background-color: #f0f0f0;
  display: flex;
  //disable selection touch
  user-select: none;
  
}

img {
  width: 200px;
  opacity: 0.1;
}